# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
dist
/tmp
/deploy
/screenshots

# dependencies
node_modules
/bower_components
.prettierrc.js

# IDEs
/.idea
/.vscode
/*.iml

# misc
.DS_Store
/.firebase
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/.chrome
!/test/karma.conf.js

pnpm-error.log
node_modules.pnpm-backup/
.angular/cache
out-tsc



.nx/
.angular

# Generated Docusaurus files
.docusaurus/
.cache-loader/
