@use '@angular/material' as mat;

mat-card {
  top: 20px;
  @include mat.card-overrides(
    (
      elevated-container-color: #fff,
      elevated-container-shape: 6px,
      title-text-size: 1.5rem,
    )
  );
}

mat-card-title {
  margin: 10px 0 10px 20px;
}

.hint {
  margin: 5px;
  font-size: 0.9em;
  color: #a3a3a3;
}
